:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: white;
}

.entries-container {
  width: 100%;
  background-color: white;

  .header {
    display: flex;
    padding: 0 20px;

    mat-form-field {
      flex-grow: 1;
    }
  }

  mat-row {
    cursor: pointer;
  }
}

mat-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 0 !important;
}
