@import "../assets/css/mat-theme";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-toolbar {

  flex-shrink: 0;
  background-color: mat-color($pointsmap-app-primary, 500);
  color: white;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;

  /deep/ h1 {
    font-size: 18px;
    font-weight: 400 !important;
  }
}

